# Conda environment directory
/envs/

# Node modules
node_modules/

# File containing environment variables
.env

# Cache and hidden directories
.DS_Store
__pycache__/
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Marker files used in Makefile
.mark/
