<div id="projects-list" class="justify-center">
  <h1 class="text-center">Projects</h1>
  {% if not projects %}
  <p>No projects yet. Create one!</p>
  {% else %}

  <table class="w-full bg-white rounded-lg overflow-hidden">
    <thead>
      <tr>
        <th class="px-6 py-3 font-medium text-gray-600">ID</th>
        <th class="px-6 py-3 font-medium text-gray-600">Name</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      {% for project in projects %}
      <tr>
        <td class="px-6 py-2 whitespace-nowrap">{{ project.id }}</td>
        <td class="px-6 py-2 whitespace-nowrap">{{ project.name }}</td>
        <td class="px-6 py-2 whitespace-nowrap">
          <button
            class="button-link px-4 py-4 bg-red-500 hover:bg-red-600 text-white font-semibold rounded-lg transition duration-300 ease-in-out transform hover:scale-105"
            hx-delete="/projects/{{ project.id }}"
            hx-target="#projects-list"
            hx-swap="outerHTML"
          >
            Delete
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
