<div
  class="py-8 px-8 max-w-sm mx-auto space-y-2 bg-white rounded-xl shadow-lg sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:gap-x-6"
>
  <img
    class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0"
    src="{{ avatar_url }}"
    alt="Image of {{ name }}"
  />
  <div class="text-center space-y-2 sm:text-left">
    <div class="space-y-0.5">
      <p class="text-lg text-black font-semibold">{{ name }}</p>
      <p class="text-slate-500 font-medium">{{ username }}</p>
    </div>
  </div>
</div>
