<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Stream</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" crossorigin="anonymous">
    <style>
        .fade-me-in #videos-list.htmx-added {
            opacity: 0;
        }
        .fade-me-in #videos-list {
            opacity: 1;
            transition: opacity 1s ease-out;
        }
    </style>
</head>
<body>

<h1 class="text-center">
    Demo Stream
</h1>

<button
        hx-get="/?order=asc"
        hx-target="#videos-list"
        hx-swap="outerHTML settle:1s"
        >
    Ascending
</button>

<button
        hx-get="/?order=desc"
        hx-target="#videos-list"
        hx-swap="outerHTML settle:1s">
    Descending
</button>

<div class="fade-me-in">
{{  render_partial("partials/videos_list.html", videos=videos) }}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.3/htmx.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js"></script>

</body>
</html>
