<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Lembas</title>
    <link rel="icon" href="./static/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css" crossorigin="anonymous">
    <style>
        .fade-me-in #project-list.htmx-added {
            opacity: 0;
        }
        .fade-me-in #project-list {
            opacity: 1;
            transition: opacity 1s ease-out;
        }
    </style>
</head>
<body>

<h1 class="text-center">
    Lembas
</h1>

<div class="fade-me-in">
{{  render_partial("partials/project_list.html", projects=projects) }}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.3/htmx.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js"></script>

</body>
</html>
