<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" />
    <title>Lembas</title>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/output.css" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  </head>
  <body>
    {% if not user %}
    <div class="flex justify-center items-center h-screen">
      {{ LinkButton(url=login_url, text="Login") }}
    </div>
    {% else %}
    <nav class="bg-white shadow-lg">
      <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between items-center py-4">
          <div class="flex items-center space-x-4">
            <!-- Brand icon -->
            <a href="/" class="flex items-center space-x-2">
              <img src="/static/images/favicon.ico" alt="The logo, showing
              lembas bread wrapped in leaves/>
              <span class="font-semibold text-gray-800 text-lg">lembas</span>
            </a>

            <!--<a href="#" class="text-gray-600 hover:text-gray-800">Projects</a>-->
          </div>

          <div class="flex items-center space-x-4">
            <!-- New Project button -->
            <button
              class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300"
            >
              New Project
            </button>

            <img
              class="h-8 w-8 rounded-full"
              src="{{ user.avatar_url }}"
              alt="Avatar"
            />
          </div>
        </div>
      </div>
    </nav>

    <div class="flex justify-center items-center">
      {{ LinkButton(url=logout_url, text="Logout") }}
    </div>

    {# The user card #} {{ user }}

    <!--<div class="fade-me-in">-->
    <!--{{ render_partial("partials/project_list.html", projects=projects) }}-->
    <!--</div>-->

    {% endif %}

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var buttons = document.querySelectorAll(".button-link");

        buttons.forEach(function (button) {
          button.addEventListener("click", function (e) {
            e.preventDefault(); // Prevent default button behavior
            var url = this.getAttribute("data-href");
            if (url) {
              window.location.href = url;
            }
          });
        });
      });
    </script>
  </body>
</html>
